@model EntryListModel

<div id="entryList" @(Model.OutOfBandSwap ? "hx-swap-oob=\"true\"" : "") class="grid grid-cols-1 gap-5">
  <div class="flex flex-col gap-2">
    @foreach (var entry in await Model.GetEntriesAsync())
    {
      <div class="flex flex-col gap-2 card @(Model.IsNewEntry(entry) ? "animate-card-flash" : "")">
        <div class="flex flex-row gap-2">
          <h3 class="flex-auto break-all card-title">@entry.Title</h3>
          <form hx-delete hx-page="Manage" hx-page-handler="DeleteEntry">
            <button type="submit" class="btn btn-red text-xs">Delete</button>
            <input type="hidden" name="EntryId" value="@entry.Id" />
            @Html.AntiForgeryToken()
          </form>
        </div>
        <p class="card-date">@Html.DisplayFor(_ => entry.Date)</p>
      </div>
    }
  </div>
</div>
